<template>
  <div class="idea">
    <div class="idea__inner-container">
      <div class="card__image">
        <img src="../../assets/beer-open@2x.png" alt="Beer bottle">
      </div>
      <div class="idea__content">
        <h1 class="idea__title">{{ title }}</h1>
        <p>by <b>{{ brewery }}</b></p>
        <p class="idea__description">
            {{ description }}
        </p>
        <div class="needs">
          <h2>Select Needs</h2>
          <div>
            <div>
              <label class="button-checkbox">
                <input v-model="needs" type="checkbox" name="needs" value="BBQ Flavor">
                <span class="button button--black button-checkbox__label">BBQ Flavor</span>
              </label>
            </div>
            <div>
              <label class="button-checkbox">
                <input v-model="needs" type="checkbox" name="needs" value="Knowledge">
                <span class="button button--black button-checkbox__label">Knowledge</span>
              </label>
            </div>
            <div>
              <label class="button-checkbox">
                <input v-model="needs" type="checkbox" name="needs" value="Bottling line">
                <span class="button button--black button-checkbox__label">Bottling line</span>
              </label>
            </div>
          </div>
        </div>
        <div class="deadline">
          <h2>Deadline</h2>
          <input v-model="deadline" type="text" class="idea__deadline" placeholder="31/12/2017">
        </div>

        <div>
          <button type="button" class="button button--secondary button--wide idea__publish" @click="publishIdea()">{{ publish }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'idea_new',
  data() {
    return {
      title: 'Rib Ale',
      brewery: 'BRLO',
      description: 'Had some unbelievably delicious ribs at the BRLO brwhouse while drinking my favorite Pale Ale. It made me curious about how a beer made from ribs would taste like if you actually brewed it. Anyone that’s up for giving it a go?',
      needs: [],
      deadline: '31/12/2017',
      publish: 'Publish',
    };
  },

  methods: {
    publishIdea() {
      this.$store.commit('addIdea', {
        id: Math.random(),
        title: this.title,
        brewery: this.brewery,
        description: this.description,
        needs: this.needs,
        deadline: this.deadline,
        image: 'Brlo@2x.png',
      });

      this.$router.push({
        name: 'ideas-list',
      });
    },
  },
};
</script>
