<template>
  <section>
    <site-header :inner="$attrs ? $attrs.inner : false"></site-header>
    <slot name="site-content"></slot>
  </section>
</template>

<script>
  import SiteHeader from '@/components/Header';

  export default {
    name: 'main-layout',
    components: {
      SiteHeader,
    },
    inheritAttributes: false,
  };
</script>
