<template>
  <div class="card">
    <router-link :to="{ name: 'ideas-details', params: {id: data.id}}" class="card__inner-container">
      <div class="card__image">
        <img :src="getImage(data.image)" alt="Beer bottle" v-if="data.status === 'open'">
        <img src="../../assets/beer-open@2x.png" alt="Beer bottle" v-else>
      </div>
      <div class="card__content">
        <h1 class="card__headline">{{ data.title }}</h1>

        <span>by {{ data.brewery }}</span>

        <p class="card__description card__description--ellipsis">
          {{ data.description }}
        </p>
      </div>
    </router-link>
  </div>
</template>

<script>
  export default {
    name: 'card',
    props: ['data'],
    methods: {
      getImage(image) {
        return require(`../../assets/${image}`); // eslint-disable-line
      },
    },
  };
</script>
