@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import '~normalize-scss/sass/normalize/import-now';
@import '~swiper/dist/css/swiper.css';

@import 'base/reset';
@import 'base/variables';
@import 'base/layout';

@import 'ui-components/headlines';
@import 'ui-components/buttons';
@import 'ui-components/cards-slider';
@import 'ui-components/card';
@import 'ui-components/site-header';
@import 'ui-components/newidea';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: $light-gray;
}
