<template>
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" v-for="item in ideasList"><card :data="item"></card></div>
    </div>
  </div>
</template>

<script>
  import Swiper from 'swiper';
  import Card from '@/components/CardItem';

  export default {
    name: 'cards-slider',
    components: {
      Card,
    },
    computed: {
      ideasList() {
        return this.$store.state.ideasList;
      },
    },
    mounted() {
      new Swiper('.swiper-container', { // eslint-disable-line
        direction: 'horizontal',
        slidesPerView: '1',
        centeredSlides: true,
        spaceBetween: 20,
      });
    },
  };
</script>
