<template>
  <main-layout>
    <section slot="site-content" class="page-content">
      <img src="../assets/beer-founded@2x.png" alt="Beer bottle" class="beer-bottle">

      <h1>GREAT</h1>
      <p>Get in touch with BRLO and start brewing!</p>

      <section class="button-container--columns">
        <a href="#" class="button button--black">Send email</a>
        <a href="#" class="button button--black">Call BRLO</a>
        <a href="#" class="button button--black">Chat on Whatsapp</a>
      </section>
    </section>
  </main-layout>
</template>

<script>
  import MainLayout from '@/layouts/MainLayout';

  export default {
    name: 'application-success',
    components: {
      MainLayout,
    },
  };
</script>
