<template>
  <main-layout>
    <cards-slider slot="site-content"></cards-slider>
  </main-layout>
</template>

<script>
  import MainLayout from '@/layouts/MainLayout';
  import CardsSlider from '@/components/CardsSlider';

  export default {
    name: 'ideas-list',
    components: {
      MainLayout,
      CardsSlider,
    },
  };
</script>
