<template>
  <main-layout :inner="true">
    <section slot="site-content" class="page-content" v-if="idea">
      <div class="card__image">
        <img :src="getImage(idea.image)" alt="Beer bottle" v-if="idea.status !== 'open'">
        <img src="../assets/beer-open@2x.png" alt="Beer bottle" v-else>
      </div>
      <div class="card__content">
        <h1 class="card__headline">{{ idea.title }}</h1>

        <span>by {{ idea.brewery }}</span>

        <p class="card__description">
          {{ idea.description }}
        </p>

        <h2>Needs</h2>

        <p v-for="need in idea.needs">
          {{ need }}
        </p>

        <h2>Deadline</h2>

        <p>
          {{ idea.deadline }}
        </p>

        <router-link :to="{ path: '/idea-application' }" class="button button--secondary button--wide">
          I WANT TO DO IT!
        </router-link>
      </div>
    </section>
  </main-layout>
</template>

<script>
  // import ideasList from '@/data/ideasList';
  import MainLayout from '@/layouts/MainLayout';

  export default {
    name: 'ideas-details',
    components: {
      MainLayout,
    },
    data() {
      return {
        idea: null,
      };
    },
    computed: {
      ideasList() {
        return this.$store.state.ideasList;
      },
    },
    mounted() {
      this.idea = this.ideasList.filter(item => item.id === this.$route.params.id)[0];
    },
    methods: {
      getImage(image) {
        return require(`../assets/${image}`); // eslint-disable-line
      },
    },
  };
</script>
