<template>
  <main-layout>
    <section slot="site-content" class="page-content">

      <img src="../assets/Beer application.png" alt="Beer bottle" class="beer-bottle" v-if="!requirements.length">
      <img src="../assets/Beer application step 1.png" alt="Beer bottle" class="beer-bottle" v-if="requirements.length === 1">
      <img src="../assets/Beer application step 2.png" alt="Beer bottle" class="beer-bottle" v-if="requirements.length === 2">
      <img src="../assets/Beer application step 3.png" alt="Beer bottle" class="beer-bottle" v-if="requirements.length === 3">

      <h1>Rib Ale</h1>
      <span>by BRLO</span>
      <p>Had some unbelievably delicious ribs at the BRLO brwhouse while drinking my favorite Pale Ale. It made me curious...</p>

      <h2>Needs</h2>
      <p>Let BRLO know what you can help with</p>

      <ul class="requirements-list">
        <li>
          <label class="button-checkbox">
            <input type="checkbox" value="BBQ Flavor" v-model="requirements">
            <span class="button button--black button-checkbox__label">BBQ Flavor</span>
          </label>
        </li>

        <li>
          <label class="button-checkbox">
            <input type="checkbox" value="Knowledge" v-model="requirements">
            <span class="button button--black button-checkbox__label">Knowledge</span>
          </label>
        </li>

        <li>
          <label class="button-checkbox">
            <input type="checkbox" value="Bottling line" v-model="requirements">
            <span class="button button--black button-checkbox__label">Bottling line</span>
          </label>
        </li>
      </ul>

      <button class="button button--secondary button--wide" @click="goToSuccess()">SEND REQUEST</button>
    </section>
  </main-layout>
</template>

<script>
  import MainLayout from '@/layouts/MainLayout';

  export default {
    name: 'idea-application',
    components: {
      MainLayout,
    },
    data() {
      return {
        requirements: [],
      };
    },
    methods: {
      goToSuccess() {
        this.$router.push({
          name: 'application-success',
        });
      },
    },
  };
</script>

<style lang="scss">
  @import '../styles/base/variables';

  .button-checkbox {
    display: block;
    margin-bottom: 20px;

    input[type="checkbox"] {
      position: absolute;
      width: 0;
      height: 0;
      left: -9999;
      visibility: hidden;
    }
  }

  .button-checkbox__label {
    display: block;
  }

  input[type="checkbox"]:checked {
    + .button-checkbox__label {
      background-color: $accent;
    }
  }

  .requirements-list {
    width: 80%;
    margin: 0 auto;
  }
</style>
