<template>
  <main-layout :inner="true">
    <new-idea slot="site-content"></new-idea>
  </main-layout>
</template>

<script>
  import MainLayout from '@/layouts/MainLayout';
  import NewIdea from '@/components/NewIdea';

  export default {
    name: 'ideas-details',
    components: {
      MainLayout,
      NewIdea,
    },
  };
</script>
