<template>
  <section class="site-header">
    <img src="../../assets/menu.png" alt="Logo" class="site-header__menu" v-if="!inner">
    <img src="../../assets/back-arrow.png" alt="Back Arrow" class="site-header__menu" v-else @click="goBack()">
    <router-link :to="{ path: '/' }">
      <img src="../../assets/Logo@2x.png" class="site-header__logo" alt="">
    </router-link>
    <router-link class="site-header__create" :to="{ name: 'new-idea'}"></router-link>
  </section>
</template>

<script>
  export default {
    name: 'site-header',
    props: {
      inner: true,
      default: false,
    },
    methods: {
      goBack() {
        this.$router.go(-1);
      },
    },
  };
</script>
