.button {
  background-color: $accent;
  border: none;
  box-sizing: border-box;
  padding: 12px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  transition: all 0.5s;
  user-select: none;

  &--secondary {
    background-color: $secondary;
  }

  &--black {
    background-color: #38332D;
  }

  &--wide {
    display: block;
    width: 100%;
  }
}

.button-container--columns {
  display: flex;
  flex-direction: column;

  .button {
    margin-bottom: 20px;
  }
}


.button-checkbox {
  display: block;
  margin-bottom: 20px;

  input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    left: -9999;
    visibility: hidden;
  }
}

.button-checkbox__label {
  display: block;
}

input[type="checkbox"]:checked {
  + .button-checkbox__label {
    background-color: $accent;
  }
}

.requirements-list {
  width: 80%;
  margin: 0 auto;
}

