.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100vw - 40px);
  height: 100vh;
  padding: 0 20px;
}

.card__inner-container {
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  box-sizing: border-box;
  padding: 16px 8px;
  color: $text-light-gray;
}

.card__content {
  box-sizing: border-box;
  padding: 10px;
}

.card__headline {
  font-weight: bold;
}

.card__description {

  &--ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }
}

.card__image {
  > img {
    height: 245px;
    margin-bottom: 40px;
  }
}

.beer-bottle {
  height: 245px;
  margin-bottom: 40px;
}
