h1, h2 {
  margin: 0;
}

h1 {
	margin-bottom: 24px;
  font-size: 30px;
  line-height: 1.23;
  font-weight: bold;
  letter-spacing: -0.25px;
  color: #000;
}

h2 {
	margin-bottom: 16px;
  font-size: 22px;
}
