.idea {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.idea__inner-container {
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: scroll;
  box-sizing: border-box;
  padding: 16px 8px;
}

.idea__content {
  box-sizing: border-box;
  padding: 10px;
}

.idea__title {
  font-weight: bold;
}

.idea__subhead {
  display: inline-block;
  vertical-align: top;
}

.idea__brewery {
  font-weight: bold;
}

.idea__description {
  margin: 30px;
}

.idea__deadline {
  @extend .button;
  @extend .button--wide;

  -webkit-appearance: none;
  background-color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
}

.idea__publish {
  margin-top: 60px;
}