.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $accent;
  border-bottom: 1px solid #f3f3f3;
  box-sizing: border-box;
  padding: 16px;
}

.site-header__menu {
  max-width: 24px;
}

.site-header__logo {
  max-width: 40px;
}

.site-header__create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 8px;
  background-image: url(../assets/plus.png);
  background-size: contain;
  border-radius: 50%;
  text-decoration: none;
}
